<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>email</title>
        <style>html,body,div,span,h1,h2,p,ul,li{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;}ul,ol{list-style:none;}p,h2{line-height:40px;}h1{line-height:50px;font-size:25px;}.container{width:1200px;height:900px;margin:0 auto;font-size:20px;}.product-detail-item{width:902px;height:50px;line-height:50px;border-top:1px solid #000;border-left:1px solid #000;font-size:16px;box-sizing:border-box;}.product-detail-item li.double{line-height:25px;}.product-detail-item li{width:150px;height:50px;float:left;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;box-sizing:border-box;word-wrap:break-word;overflow:hidden;}p span{margin-left:10px;}.customer-detail{margin-top:10px;}</style>
    </head>
    <body>
        <div class="container">
            <h1 class="email-title">You have new inquiry information from the Erui M station</h1>
            <div class="email-content">
                <p>Inquiry time:<span><?=$inquiry_time?></span></p>
                <p>Inquiry details:</p>
                <ul class="product-detail">
                    <li>
                        <ul class="product-detail-item product-detail-title">
                            <li>Item</li>
                            <li>Name</li>
                            <li>Model</li>
                            <li>Description</li>
                            <li>Package Qty</li>
                            <li>Quantity(unit)</li>
                        </ul>
                    </li>
                    <?php
                    foreach($arr_sku as $sku){
                    ?>
                    <li>
                        <ul class="product-detail-item">
                            <li ><?=$sku['sku']?></li>
                            <li class="double"><?=$sku['name']?></li>
                            <li><?=$sku['model']?></li>
                            <li title="<?=htmlspecialchars($sku['remarks'])?>"><?=$sku['remarks']?></li>
                            <li><?=$sku['qty']?></li>
                            <li><?=$sku['unit']?></li>
                        </ul>
                    </li>
                   <?php } ?>
                </ul>
                <div class="customer-detail">
                    <h2>Customer Information</h2>
                    <p>Customer Name:<span><?=$arr_contact['name']?></span></p>
                    <p>Telephone:<span></span></p>
                    <p>Email:<span><?=$arr_contact['email']?></span></p>
                </div>
            </div>
        </div>
    </body>
</html>