<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>You have new inquiry information from the Erui M station</title>
        <style>html,body,div,span,h1,h2,p,ul,li{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box}ul,ol{list-style:none}p,h2{line-height:40px}h1{line-height:50px;font-size:25px}.container{width:1200px;height:900px;margin:0 auto;font-size:20px}table.gridtable{font-family:verdana,arial,sans-serif;font-size:14px;color:#333333;border-width:1px;border-color:#666666;border-collapse:collapse;}td,th{min-width:150px;max-width:400px;}table.gridtable th{border-width:1px;padding:8px;border-style:solid;border-color:#666666;background-color:#dedede;}table.gridtable td{border-width:1px;padding:8px;border-style:solid;border-color:#666666;background-color:#ffffff;}p span{margin-left:10px}.customer-detail{margin-top:10px}</style>
    </head>
    <body>
        <div class="container">
            <h1 class="email-title">You have new inquiry information from the Erui M station</h1>
            <div class="email-content">
                <p>Inquiry time:<span><?=$inquiry_time?></span></p>
                <p>Inquiry details:</p>
                <ul class="product-detail">
                    <li>
                        <ul class="product-detail-item product-detail-title">
                            <li>Item</li>
                            <li>Name</li>
                            <li>Model</li>
                            <li>Description</li>
                            <li>Package Qty</li>
                            <li>Quantity(unit)</li>
                        </ul>
                    </li>
                    <?php
                    foreach($arr_sku as $sku){
                    ?>
                    <li>
                        <ul class="product-detail-item">
                            <li ><?=$sku['sku']?></li>
                            <li class="double"><?=$sku['name']?></li>
                            <li><?=$sku['model']?></li>
                            <li title="<?=htmlspecialchars($sku['remarks'])?>"><?=$sku['remarks']?></li>
                            <li><?=$sku['qty']?></li>
                            <li><?=$sku['unit']?></li>
                        </ul>
                    </li>
                   <?php } ?>
                </ul>
                <div class="customer-detail">
                    <h2>Customer Information</h2>
                    <p>Customer Name:<span><?=$arr_contact['name']?></span></p>
                    <p>Telephone:<span></span></p>
                    <p>Email:<span><?=$arr_contact['email']?></span></p>
                </div>
            </div>
        </div>
    </body>
</html>