<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $title;?></title>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script> 
</head>
<body>
    <form id="form" method="post">
    	<input type="hidden" id="sign" name="sign">
    	<input type="text" id="input" name="input">
        <input type="button" value="导出" onclick="confirm()">
    </form>
    <script>
    	function confirm() {
    		var key = '9b2a37b7b606c14d43db538487a148c7',
    				val = document.getElementById('input').value.replace(/(^\s*)|(\s*$)/g, ''),
    				form = document.getElementById('form');
    		if (val == '') {
    			alert('请输入生成或导出数据文件的方法！');
    		} else {
    			form.action = val;
            	document.getElementById('sign').value = md5(key + val);
            	form.submit();
    		}
    	}
    </script>
</body>
</html>