<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password retrieval</title>
</head>
<body>
<div style="font-size: 15px;width: 590px;height: 440px;border: 3px solid rgba(0, 0, 153, 1);margin:50px auto ;padding: 30px">
    <img src="<?php echo $url;?>/static/images/indexlogo.png" style="width: 170px;height: 60px;" alt="">
    <div style="border-bottom:1px dashed #CCCCCC;padding-left:5px;background: rgba(0, 204, 255, 0.0392156862745098)">
        <p>Dear customer：<?php echo $first_name;?></p>
        <p>Hello!</p>
        <p>You are applying for resetting your password. Please click the link below to change it.</p>
        <p>This link is valid for 30 minutes. Please complete it within valid time.</p>
        <a href="<?php echo $url;?>index/login/newpassword?key=<?php echo $key;?>" style="word-wrap: break-word;word-break: normal"><?php echo $url;?>index/login/newpassword?key=<?php echo $key;?></a><br>
        <p>Please ignore this email if you are not in operation. Please forgive us for the inconvenience brought to you!</p>
    </div>
    <p>Please feel free to contact us if you have any questions or you need help.</p>
    <p>E'RUI International  &nbsp;<a href="http://buyer.erui.com">http://buyer.erui.com</a></p>
</div>
</body>
</html>