<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>用户注册</title>
	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<script type="text/javascript" src="/public/test/js/jquery.min.js"></script>
	<script  type="text/javascript" src="/public/test/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/test/js/ace.min.js"></script>
	<script type="text/javascript" src="/public/test/js/ace-extra.min.js"></script>
	<script type="text/javascript" src="/public/test/js/ace/elements.onpage-help.js"></script>
	<script type="text/javascript" src="/public/test/js/ace/ace.onpage-help.js"></script>
	<script type="text/javascript" src="/public/test/js/rainbow.js"></script>
	<script  type="text/javascript" src="/public/test/js/language/generic.js"></script>
	<script type="text/javascript" src="/public/test/js/language/html.js"></script>
	<script type="text/javascript" src="/public/test/js/language/css.js"></script>
	<script type="text/javascript" src="/public/test/js/language/javascript.js"></script>
	<script type="text/javascript" src="/public/test/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/public/test/js/bootstrap-datetimepicker.fr.js"></script>
	<script type="text/javascript" src="/public/test/js/jquery-ui.custom.min.js"></script>
	<script type="text/javascript" src="/public/test/js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="/public/test/js/jquery.easypiechart.min.js"></script>
	<script type="text/javascript" src="/public/test/js/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="/public/test/js/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/public/test/js/flot/jquery.flot.pie.min.js"></script>
	<script type="text/javascript" src="/public/test/js/flot/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="/public/test/js/ace-elements.min.js"></script>
	<link rel="stylesheet" href="/public/test/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/public/test/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/public/test/css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/public/test/css/ace-fonts.css" />
	<link rel="stylesheet" href="/public/test/css/ace.min.css" id="main-ace-style" />
	<link rel="stylesheet" href="/public/test/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/public/test/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="/public/test/css/ace.onpage-help.css" />

</head>
<body class="no-skin">

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
	<script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>
	</div>
	<div class="page-content">
		<div class="page-content-area">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" id="myform"  enctype="multipart/form-data">
						<div class="form-group">
							<div class="col-sm-4">
								<label class="col-sm-2 control-label no-padding-right" >用户名：</label>
								<input type="text" name ="name"  id ="name" placeholder="单价" value="<?php echo $data['busyer_unit_price'][0];?>"  class="col-xs-10 col-sm-5" />
							</div>
							<div class="col-sm-4">
								<label class="col-sm-2 control-label no-padding-right" >数量1：</label>
								<input type="text" name ="num[]"  id ="quote_quantity1"  placeholder="数量"  value="<?php echo $data['num'][0];?>"   class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="col-sm-2 control-label no-padding-right" >单价2：</label>
								<input type="text" name ="busyer_unit_price[]"  id ="quote_unit2"  placeholder="单价2"  value="<?php echo $data['busyer_unit_price'][1];?>"  class="col-xs-10 col-sm-5" />
							</div>
							<div class="col-sm-4">
								<label class="col-sm-2 control-label no-padding-right" >数量1：</label>
								<input type="text" name ="num[]"  id ="quote_quantity2"  placeholder="数量" value="<?php echo $data['num'][0];?>"   class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="col-sm-3 control-label no-padding-right" >贸易方式：</label>
								<select name="trade_terms" id="trade_terms">
									<option value="EXW" >EXW</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-3 control-label no-padding-right" >毛利率：</label>
								<input type="text" name ="gross_profit_rate"  id ="gross_profit_rate"  placeholder="毛利率"  value="<?php echo $data['gross_profit_rate'];?>" class="col-xs-10 col-sm-5" />

							</div>
							<div class="col-sm-4">
								<label class="col-sm-2 control-label no-padding-right" >商检费：</label>
								<input type="text" name ="inspection_fee" id = "inspection_fee" placeholder="商检费"  value="<?php echo $data['inspection_fee'];?>" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<?php if($data_exw){?>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" >exw合计：<?php echo $data_exw['total_exw_price'] ?></label>
							</div>
						<?php }?>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="Submit">
									<i class="ace-icon fa fa-check bigger-110"></i>
											提交
								</button>
								<a href="__ROOT__/Group" class="btn" type="reset" >
									<i class="ace-icon fa fa-undo bigger-110"></i>
									返回
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div><!-- /.main-container -->

	<!-- basic scripts -->



	<!-- <![endif]-->

	<!--[if IE]>


    <!-- page specific plugin scripts -->

	<!--[if lte IE 8]>
	<![endif]-->
	<script src="/public/test/js/ace.min.js"></script>
	<script src="/public/test/js/jquery-ui.custom.min.js"></script>
	<script src="/public/test/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/public/test/js/jquery.easypiechart.min.js"></script>
	<script src="/public/test/js/jquery.sparkline.min.js"></script>
	<script src="/public/test/js/flot/jquery.flot.min.js"></script>
	<script src="/public/test/js/flot/jquery.flot.pie.min.js"></script>
	<script src="/public/test/js/flot/jquery.flot.resize.min.js"></script>

	<!-- ace scripts -->
	<script src="/public/test/js/ace-elements.min.js"></script>


	<!-- inline scripts related to this page -->


	<!-- the following scripts are used in demo only for onpage help and you don't need them -->
	<link rel="stylesheet" href="/public/test/css/ace.onpage-help.css" />

	<script src="/public/test/js/ace/elements.onpage-help.js"></script>
	<script src="/public/test/js/ace/ace.onpage-help.js"></script>
	<script src="/public/test/js/rainbow.js"></script>
	<script src="/public/test/js/language/generic.js"></script>
	<script src="/public/test/js/language/html.js"></script>
	<script src="/public/test/js/language/css.js"></script>
	<script src="/public/test/js/language/javascript.js"></script>
	<script src="/public/test/js/bootstrap-datetimepicker.js"></script>
	<script src="/public/test/js/bootstrap-datetimepicker.fr.js"></script>

</body>
</html>

