<?php if($_SESSION['language'] == "zh"){
include("zh.php");
}else{
include("en.php");
}
?>
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta charset="UTF-8">
        <title><?php echo $lang['category'];?></title>
        <link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
        <script src="/public/js/hammer.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="brand" id="brand">
            <h2><?php echo $lang['scategory'];?></h2>
            <div class="name" >
                <ul>
                    <?php if(!empty($data)){?>
                    <?php foreach($data as $da){?>
                    <li style="cursor: pointer" id="<?php echo $da['id'];?>"><?php echo $da['name'];?></li>
                    <?php }?>
                    <?php }?>
                </ul>
            </div>
        </div>
    </body>
    <script type="text/javascript">
//localStorage.clear();
        var json = localStorage.getItem("creategood");
        var json = JSON.parse(json);
        console.log(json);
//回显数据
        if (json.brandId != "") {
            var datali = document.getElementById(json.brandId);
            datali.style.borderColor = "#FF6600";
            datali.style.color = "#ff6600";
        }

        /*var brand = document.getElementById("brand");
         var navLi = brand.getElementsByTagName("li");
         for(var k=0; k < navLi.length; k++){
         navLi[k].onclick = function(){
         var sbiling = this.parentNode.getElementsByTagName("li");
         var brandid = this.getAttribute("id");
         var brandval = this.innerText;
         if(brandid != json.brandId){
         this.style.borderColor="#FF6600";
         this.style.color="#ff6600";
         json.brandId = brandid;
         json.brand = brandval;

         for (var i=0; i<sbiling.length; i++){

         if(this != sbiling[i]){
         sbiling[i].style.borderColor="#999";
         sbiling[i].style.color="#666";
         }
         }
         }else{
         for (var i=0; i<sbiling.length; i++){
         this.style.borderColor="#999";
         this.style.color="#666";
         json.brandId = "";
         json.brand = "";
         }
         }
         }
         }*/
        window.addEventListener('load', function () {
            var brand = document.getElementById("brand"),
                    navLi = brand.getElementsByTagName("li");

            for (var k = 0; k < navLi.length; k++) {
                var hammerLi = new Hammer(navLi[k]);
                hammerLi.on("tap", function (e) {
                    var sbiling = this.parentNode.getElementsByTagName("li");
                    var brandid = this.getAttribute("id");
                    var brandval = this.innerText;
                    //console.log(brandid);
                    //判断一下是否在这里点了两次
                    if (brandid != json.brandId) {
                        this.style.borderColor = "#FF6600";
                        this.style.color = "#ff6600";
                        json.brandId = brandid;
                        json.brand = brandval;
                        for (var i = 0; i < sbiling.length; i++) {
                            if (this != sbiling[i]) {
                                sbiling[i].style.borderColor = "#999";
                                sbiling[i].style.color = "#666";
                            }
                        }
                    } else {
                        json.brandId = "";
                        json.brand = "";
                        for (var i = 0; i < sbiling.length; i++) {
                            sbiling[i].style.borderColor = "#999";
                            sbiling[i].style.color = "#666";
                        }
                    }

                }.bind(navLi[k]));
            }

        });
        /*function back(){
         json.brandId = "1";
         json.brand = "百施特";
         var data = JSON.stringify(json);
         localStorage.setItem("creategood", data);
         }*/
        window.addEventListener("pagehide", function () {
            //离开保存数据 json对像转成字符串
            var data = JSON.stringify(json);
            localStorage.setItem("creategood", data);
        }, false);
    </script>
</html>
