<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title><?php echo $lang['num1'];?></title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
	</head>
	<body>
		<input type="number" id="num" class="suppliername" placeholder="<?php echo $lang['pnum'];?>" />
<script>
	var json = localStorage.getItem("creategood");
	var json = JSON.parse(json);
	console.log(json);
	if(json.num != ""){
		document.getElementById("num").value = json.num;
	}
	//回显数据
window.addEventListener("pagehide", function(){
	json.num = document.getElementById("num").value;
	//return "123";
	//离开保存数据 json对像转成字符串
	var data = JSON.stringify(json);
	localStorage.setItem("creategood", data);
}, false);
</script>
	</body>
</html>
