<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>Business needs 商务需求(发布出售信息)</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	</head>
	<body>
		<div class="need">
			<div class="need-quantity">
				<span class="eq-qu business-num">Equipment Quantity</span>
				<span class="qu">Please choose</span>
				<span class="need_jt"><a href="equipmentNum.html">></a></span>
			</div>
			<div class="need-quantity">
				<span class="eq-qu business-num">Years of use</span>
				<span class="qu years">5 years</span>
				<span class="need_jt"><a href="equipmentYear.html">></a></span>
			</div>
		<div class="particulaess business-type">
			<h2>Transaction type</h2>
			<p><span>Rent</span><span>Sell</span></p>
		</div>
		<div class="business-price">
		<h2 class="business-price-h">Forecast price</h2>
			<div class="needs">
				<div class="price">
					<span class="price-up business-price-c"> Unit price</span>
					<span class="price-us">US $</span>
					<input type="text"  id=""  />
					<span class="price-ux business-price-c">----</span>
					<input type="text" />
				</div>
				<div class="valid">
					<span class="valids business-num">Quotation is valid</span>
					<span class="valid-time">10 months</span>
					<span class="need_jt"><a href="equipmentValid.html">></a></span>
				</div>
			</div>	
	</body>
</html>
