<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title><?php echo $lang['sname'.$type];?></title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
	</head>
	<body>
	<!--<a onclick="getdata()">222222222222222</a>-->
			<h2><?php echo $lang['orgchoose'.$type];?><a href="/Goods/SupCreate?type=2" style="position:absolute;top:0rem;right:0rem;display: inline-block;padding: 0.75rem 1rem 0.6rem 2rem;">  <img src="/public/images/add.png" style="width:1.1rem;height:1.1rem;"/> </a></h2>
			<div class="chooseSupplier" id="chooseSupplier">
				<?php foreach($data as $key=>$da){?>
					<ul id="<?php echo $da['organization_id'];?>">
						<li id="orgsupplier<?php echo $da['organization_id'];?>"><?php echo $da['org_name'];?></li>
						<li class="ownd-sj-csli"><span><?php echo $lang['orgname'];?>:</span><span id="orgname<?php echo $da['organization_id'];?>"><?php echo $da['org_contact_person'];?></span></li>
						<li class="ownd-sj-csli"><span><?php echo $lang['orgtel'];?>:</span><span id="orgtel<?php echo $da['organization_id'];?>"><?php echo $da['org_contact_telno'];?></span></li>
						<!--<li class="ownd-sj-csli"><span><?php //echo $lang['orgaddress'];?>:</span><span id="orgaddress<?php //echo $da['organization_id'];?>"><?php //echo $da['org_contact_address'];?></span></li>-->
						<?php if($key>0){?>
						<p onclick="Delsup(event,<?php echo $da['organization_id'];?>)"><img src="/public/images/rem.png" style="width: 1rem;height: 1rem;"/></p>
						<?php }?>
					</ul>
				<?php }?>
			</div>
			
	</body>
<script type="text/javascript">
	//localStorage.clear();
	
	var json = localStorage.getItem("app_creategood");
	if(json == null){
		var json = '{"orgId":"", "isMy":"0", "orgsupplier":"", "orgname":"", "orgtel":"", "orgaddress":""}';
	}
	var json = JSON.parse(json);
	console.log(json);
	if(json.orgId != ""){
		//var orgId = "<?php echo $data[0]['organization_id'];?>";
		//默认保存我的信息
		//json.orgId = orgId;
		orgId = json.orgId;
		var chose = document.getElementById(orgId);
		if(chose){
			chose.style.backgroundColor="#fff4ef";
			chose.style.border="1px solid #ff6600";
		}else{
			localStorage.remove("app_creategood");
			window.location.reload();
		}
	}

	var chooseSupplier=document.getElementById("chooseSupplier");
		
	var chooseSupplierul=chooseSupplier.getElementsByTagName("ul");
	for(var i=0;i<chooseSupplierul.length;i++){
		chooseSupplierul[i].onclick = function(){
			
			this.style.backgroundColor="#fff4ef";
			this.style.border="1px solid #ff6600";
			
			var sbiling = this.parentNode.getElementsByTagName("ul");
			if(json.orgId != this.id){
				json.orgId = this.id;
				json.orgsupplier=document.getElementById('orgsupplier'+this.id).innerText;
				json.orgname=document.getElementById('orgname'+this.id).innerText;
				json.orgtel=document.getElementById('orgtel'+this.id).innerText;
				//json.orgaddress=document.getElementById('orgaddress'+this.id).innerText;
				//console.log(json);
				var appdata = {"orgId":"", "isMy":"0", "orgsupplier":"", "orgname":"", "orgtel":"", "orgaddress":""};
				appdata.orgId = json.orgId;
				appdata.orgsupplier = json.orgsupplier;
				appdata.orgname = json.orgname;
				appdata.orgtel = json.orgtel;
				//appdata.orgaddress = json.orgaddress;

				if(json.orgId == "self"){
					appdata.orgId = "<?php echo $uid;?>";
					appdata.isMy = "1";
				}else{
					appdata.isMy = "0";
				}
				//console.log(appdata);
				demand.onSelectCustomer(JSON.stringify(appdata));
				for (var i=0; i<sbiling.length; i++){
					//console.log(sbiling[i]);
					if(this != sbiling[i]){
						sbiling[i].style.backgroundColor="#fff";
						sbiling[i].style.border="1px solid #DDDDDD";
					}
				}
			}else{
				json.orgId = "";
				json.orgsupplier="";
				json.orgname="";
				json.orgtel="";
				//json.orgaddress="";
				for (var i=0; i<sbiling.length; i++){
					sbiling[i].style.backgroundColor="#fff";
					sbiling[i].style.border="1px solid #DDDDDD";
				}
			}
		}
	}

	function Delsup(e, id){
		if(json.orgId == id){
			json.orgId = "self";
			var self = document.getElementById("self");
			self.style.backgroundColor="#fff4ef";
			self.style.border="1px solid #ff6600";
			json.orgsupplier=document.getElementById('orgsupplierself').innerText;
			json.orgname=document.getElementById('orgnameself').innerText;
			json.orgtel=document.getElementById('orgtelself').innerText;
			//json.orgaddress=document.getElementById('orgaddressself').innerText;
		}
		var evt = e ? e : window.event; 
		if (evt.stopPropagation) { 
		//W3C 
		evt.stopPropagation(); 
		} 
		else { 
		//IE 
		evt.cancelBubble = true; 
		}
		demand.deleteCustomer(id);//调用app删除
		return false;
	}
//回显数据
window.addEventListener("pagehide", function(){
	//离开保存数据 json对像转成字符串
	var data = JSON.stringify(json);
	localStorage.setItem("app_creategood", data);
}, false);
</script>
</html>
