<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>录入设备</title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/autocomplete.css"/>
		<script src="/public/js/hammer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/public/js/jquery.autocomplete.min.js"></script>
	</head>
	<body>
		<div class="search">
			<img src="/public/images/search.png" class="searchphoto" />
			<input type="text" id="autocomplete-ajax" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" class="searchs" style="width:91%"  placeholder="<?php echo $lang['inputsearch'];?>" />
			<span class="gt">
				<!--<a href="class.html">></a>-->
			</span>
			<p id="categoryval"><?php echo $lang['drilling'];?></p>
		</div>
		<div class="select">
			<div class="select-cs">
				<p><?php echo $lang['labeltitle'];?></p>
				<input type="text" id="goodtitle" class="cs" placeholder="<?php echo $lang['inputtitle'];?>" />
			</div>
			<div class="select-pp">
				<span class="select_brand"><?php echo $lang['selectedbrand'];?></span>
				<span class="pp" id="brandval"></span>
				<a id="brand" href="javascript:void(0)"><span class="select_jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<div class="select-pp">
				<span class="select_brand"><?php echo $lang['selectedtypes'];?></span>
				<span class="pp"  id="typesval"></span>
				<a id="types" href="javascript:void(0)"><span class="select_jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<div class="select-sj">
				<div class="select-sj-head">
					<span class="select_key"><?php echo $lang['keyparameter'];?></span>
					<a id="property" href="javascript:void(0)"><span class="select_keyjt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
				</div>
				<div class="select-sj-cs">
					<ul id="propertyval">
						<!--参数-->
					</ul>
				</div>
			</div>
			<div class="select-sj">
				<div class="select-sj-head">
					<span class="select_key"  ><?php echo $lang['business'];?></span>
					<a id="business" href="javascript:void(0)"><span class="select_keyjt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
				</div>
				<div class="select-sj-cs">
					<ul id="businessval">
						<!--商务信息-->
						<!--<li class="ownd-sj-csli"><span>Quantity:</span><span>Five</span></li>
						
						<li class="ownd-sj-csli"><span>unit price:</span><span> US $ 2,000,000-5,000,000</span></li>
						<li class="ownd-sj-csli"><span>Quotation is valid:</span><span>2 weeks</span></li>-->
					</ul>
				</div>
			</div>
			<?php if($type == 1){?>
			<div class="owned">
				<div class="select-sj-head">
					<span class="select_key"  ><?php echo $lang['supplier'];?></span>
					<a id="supplier" href="javascript:void(0)"><span class="select_keyjt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
				</div>
				<div class="ownd-sj-cs">
					<ul id="orginfo">
						
						<!--供应商-->				
					</ul>
				</div>
			</div>
			<?php }?>
			<div class="remarks">
				<p><?php echo $lang['remarks'];?></p>
				<textarea class="remark" placeholder="<?php echo $lang['remarksdec'];?>" id="remark"></textarea>
			</div>
		</div>
		<div class="uploading">
			<div class="uploading-head">
				<span class="uploading-head-h2"><?php echo $lang['medias'];?></span>
			</div>
			<div class="uploading-img" id="uploading-img">
				<button class="clickc" id="clicks" value="" /></button>
			</div>
			<div class="uploading-foot">
				<span id="notice"><?php echo $lang['noticeupload'];?></span>
				<!--<a onclick="submit()">2222</a>-->
			</div>
		</div>
		<input type="hidden" id="issubmit" value="0">
<script type="text/javascript">
var clicks=document.getElementById("clicks");
clicks.onclick=function(){
	var para = document.createElement("div");
	var span=document.createElement("span");
	var img =document.createElement("img");

	var testdiv = document.getElementById("uploading-img");
	var sum = testdiv.getElementsByTagName("span").length;
	if(sum >= 9){
		alert("More than 9");
		return false;
	}
	demand.onSelectImage();
	//getimg();
}
function getimg(){
	var imgPaths = "http://172.18.18.75/group1/M00/00/0A/rBISS1kfjVKAYxbbAAgxZaVGrD0112.jpg,http://baobao-pic.bj.bcebos.com/szn270-170.jpg?t=1495687034";
	createimags(imgPaths);
}
function setImage(imgPaths){//String 
	createimags(imgPaths);
	//document.getElementById("remark").value = imgPaths;
}
function createimags(taskimgs){
	//document.getElementById("remark").value = taskimgs;
	taskimgs = taskimgs.split(",");
	var sum = document.getElementById("sum").innerText;
	if(taskimgs.length + sum*1 > 9){
		var length = 9 - sum * 1;
	}else{
		var length = taskimgs.length;
	}
	document.getElementById("sum").innerText=sum*1+length;
	for(var i = 0; i < length; i++){
		var para = document.createElement("div");
		var span=document.createElement("span");
		var img =document.createElement("img");
		img.src=taskimgs[i];
		img.onclick = function (){
			demand.showBigImage(this.src);
			//console.log(this.src);
		}
		var testdiv = document.getElementById("uploading-img");
			span.className="spans";
			para.appendChild(span);
			para.appendChild(img);

		if(testdiv.firstChild){
			testdiv.insertBefore(para,testdiv.firstChild);
		}else{
			testdiv.appendChild(para);
		}
		span.onclick=function (){ 
			testdiv.removeChild(this.parentNode);
			var sum = document.getElementById("sum").innerText;
			document.getElementById("sum").innerText = sum*1 -1;
		};
	}
}
window.onload = function(){
//$(function(){
	//localStorage.clear();
	//return false;
	var pagetype = "<?php echo $type;?>";
	var nowpagetype = localStorage.getItem("pagetype");
	//判断当前页面是不是该类型的数据
	if(nowpagetype == null){
		localStorage.setItem("pagetype", pagetype);
	}else if(nowpagetype != pagetype){
		localStorage.clear();
		window.location.reload();
	}
	var json = localStorage.getItem("creategood");
	//alert(json);
	console.log(json);
	if(json == null || json == "null" || json == '""'){
		json = "";
		document.getElementById('autocomplete-ajax').focus();
	}else{
		var json = JSON.parse(json);
		
		$("#categoryval").html(json.category);
		$("#goodtitle").val(json.name);
		$("#autocomplete-ajax").val(json.category);
		$("#brand").attr("href","/Goods/Brand?cateid="+json.categoriesId);
		if(json.brandId != ""){
			$("#brandval").html(json.brand);
			$("#types").attr("href","/Goods/Types?cateid="+json.categoriesId+"&brandid="+json.brandId);
		}
		if(json.typesId != ""){
			$("#typesval").html(json.types);
			$("#property").attr("href","/Goods/Property?cateid="+json.categoriesId+"&brandid="+json.brandId+"&typesid="+json.typesId);
		}
		var empty = true;//是空对象
		for(var key in json.keyParam){
			empty = false;
		}
		//参数
		if(!empty){
			for(var key in json.keyParam){  
				//console.log(json.keyParam[key]);
				$("#propertyval").append('<li class="ownd-sj-csli"><span>'+key+':</span><span>'+json.keyParam[key]+'</span></li>');
			}
			$("#business").attr("href","/Goods/Business?type="+pagetype);
		}
		//商务信息
		if(json.num != ""){
			$("#businessval").append('<li class="ownd-sj-csli"><span><?php echo $lang['num'.$type];?>:</span><span>'+json.num+' <?php echo $lang['unit'];?></span></li>');
		}
		if(json.useYears != ""){
			$("#businessval").append('<li class="ownd-sj-csli"><span><?php echo $lang['useyear'.$type];?>:</span><span>'+json.useYears+' <?php echo $lang['years'];?></span></li>');
		}
		if(json.businessType != ""){
			if(pagetype == 2 || pagetype == 3){
				if(json.businessType=='11'){
					var businessTypeval = "<?php echo $lang['Seekingrent'];?>";
				}else if(json.businessType=='12'){
					var businessTypeval = "<?php echo $lang['Buying'];?>";
				}else if(json.businessType=='13'){
					var businessTypeval = "<?php echo $lang['BuyingSeekingrent'];?>";
				}else if(json.businessType=='21'){
					var businessTypeval = "<?php echo $lang['Rent'];?>";
				}else if(json.businessType=='22'){
					var businessTypeval = "<?php echo $lang['Sell'];?>";
				}else if(json.businessType=='23'){
					var businessTypeval = "<?php echo $lang['SellRent'];?>";
				}
				$("#businessval").append('<li class="ownd-sj-csli"><span><?php echo $lang['Forecastprice'.$type];?>:</span><span> '+businessTypeval+'</span></li>');

			}
		}
		if(json.endTime != ""){
			$("#businessval").append('<li class="ownd-sj-csli"><span><?php echo $lang['valid'.$type];?>:</span><span>'+json.endTime+'</span></li>');
		}
		if(pagetype == 1 || pagetype == 3){
			if(json.minPrice != ""){
				$("#businessval").append('<li class="ownd-sj-csli"><span><?php echo $lang['price'.$type];?>:</span><span> US $ '+json.minPrice+' <?php echo $lang['tenthousand'];?> - '+json.maxPrice+' <?php echo $lang['tenthousand'];?></span></li>');
			}
			//供应商
			$("#supplier").attr("href","/Goods/Supplier?uid=<?php echo $_SESSION['uid'];?>&lang=<?php echo $_SESSION['language'];?>&tag=1");
			var strorginfo = localStorage.getItem("strorginfo");
			console.log(strorginfo);
			if(strorginfo != null && strorginfo != "undefined"){
				var orginfo = JSON.parse(strorginfo);
				$("#orginfo").append('<li class="ownd-sj-csli"><span><?php echo $lang['orgsupplier'];?>:</span><span>'+orginfo.orgsupplier+'</span></li>');
				$("#orginfo").append('<li class="ownd-sj-csli"><span><?php echo $lang['orgname'];?>:</span><span>'+orginfo.orgname+'</span></li>');
				$("#orginfo").append('<li class="ownd-sj-csli"><span><?php echo $lang['orgtel'];?>:</span><span>'+orginfo.orgtel+'</span></li>');
				//$("#orginfo").append('<li class="ownd-sj-csli"><span><?php echo $lang['orgaddress'];?>:</span><span>'+orginfo.orgaddress+'</span></li>');
			}
		}
		if(json.describe != ""){
			document.getElementById("remark").value=json.describe;
		}
	}
	var taskimgs = localStorage.getItem("taskimgs");
	//alert(taskimgs);
	if(taskimgs == null){
		taskimgs = [];
	}else{
		createimags(taskimgs);
	}
	//console.log(json);
	// Initialize ajax autocomplete:
	$('#autocomplete-ajax').autocomplete({
		serviceUrl: '/Goods/CateList',
		type:'POST',
		//lookup: countriesArray,
		lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
			var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
			return re.test(suggestion.value);
		},
		onSelect: function(suggestion) {
			$("#categoryval").html(suggestion.value);
			$("#goodtitle").val(suggestion.value);
			//判断重复选择就不刷新数据
			if(json.categoriesId == suggestion.data){
				return false;
			}
			json ={"name":"","num":"","describe":"","keyParam":{},"businessType":"","type":0,"useYears":"","mediaType":0,"imageUrls":[],"endTime":"","rentTime":"","categoriesId":"","category":"","brandId":"","brand":"","typesId":"","types":"","minPrice":"","maxPrice":"","typesId":"","orgId":"","isMy":"0"};
			json.categoriesId = suggestion.data;
			json.name = suggestion.value;
			json.category = suggestion.value;
			document.getElementById("remark").value = "";
			document.getElementById("uploading-img").innerHTML = '<button class="clickc" id="clicks" value="" /></button>';
			localStorage.removeItem('taskimgs');
			//$("#brand").attr("href","/Goods/Brand?cateid="+suggestion.data);
			window.location.reload();
		},
		onHint: function (hint) {
			$('#autocomplete-ajax-x').val(hint);
		},
		onInvalidateSelection: function() {
			$('#selction-ajax').html('You selected: none');
		},
		showNoSuggestionNotice:true,
	});
	//window.onbeforeunload = function(){
	window.addEventListener("pagehide", function(){
		if(document.getElementById("issubmit").value == "1"){
			return false;
		}
		json.name = $("#goodtitle").val();
		var imgdata = [];
		var imgs = document.getElementById("uploading-img").getElementsByTagName("img");
		if(imgs.length > 0){
			for(var i=0;i<imgs.length;i++){
				imgdata.push(imgs[i].src);
			}
			localStorage.setItem("taskimgs",imgdata.join(","));
		}
		//备注
		json.describe = document.getElementById("remark").value;
		//json.describe = imgdata.join(",");
		//清空供应商
		if(json.orgId == ""){
			localStorage.removeItem('strorginfo');
		}
		//离开保存数据 json对像转成字符串
		var data = JSON.stringify(json);
		localStorage.setItem("creategood", data);
	}, false);
	//}
}
function submit(){
	var json = localStorage.getItem("creategood");
	var pagetype = "<?php echo $type;?>";
	if(json == null){
		alert("<?php echo $lang['ndata'];?>");
		return;
	}else{
		var json = JSON.parse(json);
		if(json.brandId == ""){
			alert("<?php echo $lang['nbrand'];?>");
			return;
		}
		if(json.types == ""){
			alert("<?php echo $lang['nmodel'];?>");
			return;
		}
		var empty = true;//是空对象
		for(var key in json.keyParam){
			empty = false;
		}
		//参数
		if(empty){
			alert("<?php echo $lang['nparameter'];?>");
			return;
		}
		if(json.num == "" || json.endTime == "" || json.useYears == ""){
			alert("<?php echo $lang['nbusiness'];?>");
			return;
		}
		if(pagetype == 1){
			if(json.orgId == ""){
				alert("<?php echo $lang['nsuppliers'];?>");
				return;
			}else if(json.orgId == "self"){
				json.orgId = "<?php echo $_SESSION['uid'];?>";
				json.isMy = "1";
			}else{
				json.isMy = "0";
			}
			
		}
		if(pagetype == 1 || pagetype == 3){
			if(json.minPrice == "" || json.maxPrice == ""){
				alert("<?php echo $lang['nbusiness'];?>");
				return;
			}
		}
		if(pagetype == 2 || pagetype == 3){
			if(json.businessType == ""){
				alert("<?php echo $lang['nbusiness'];?>");
				return;
			}
		}
		//备注
		json.describe = document.getElementById("remark").value;
		json.name = document.getElementById("goodtitle").value;
		//图片
		var taskimgs = [];
		var imgs = document.getElementById("uploading-img").getElementsByTagName("img");
		if(imgs.length > 0){
			for(var i=0;i<imgs.length;i++){
				taskimgs.push(imgs[i].src);
			}
			json.imageUrls = taskimgs;
		}
		json.keyParam = JSON.stringify(json.keyParam);
		document.getElementById("issubmit").value = "1";
		localStorage.clear();
		demand.onSubmit(JSON.stringify(json));
	}
}
		</script>
	</body>
</html>

