<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>核心参数</title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
		<script src="/public/js/hammer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="core" id="coreli">
		<?php if(!empty($data)){?>
			<?php foreach($data as $key=>$da){?>	
			<div class="corechild">
				<h2><?php echo $key;?></h2>
				<div class="deep">
					<ul>
						<?php if(!empty($da)){?>
							<?php foreach($da as $val){?>
								<li id=""><?php echo $val;?></li>
							<?php }?>
						<?php }?>
					</ul>
				</div>
			</div>
			<?php }?>
		<?php }?>
		</div>
<script type="text/javascript">
	var json = localStorage.getItem("creategood");
	var json = JSON.parse(json);
	console.log(json);
	var empty = true;//是空对象
	for(var key in json.keyParam){
		empty = false;
	}
	//回显数据
	if(!empty){
		var corechild = document.getElementsByClassName("corechild");
		for(var j=0; j < corechild.length; j++){
			 var h2 = corechild[j].getElementsByTagName("h2");
			 text = h2[0].innerText;
			 if((text in json.keyParam)){
				//console.log(text);
				//console.log(json.keyParam[text]);
				var li = corechild[j].getElementsByTagName("li");
				for(var i=0; i<li.length; i++){
					//console.log(li[i].innerText);
					if(json.keyParam[text] == li[i].innerText){
						li[i].style.borderColor="#FF6600";
						li[i].style.color="#ff6600";
					}
				}
			 }
		}
		
	}else{
		//console.log(2);
	}
		window.addEventListener('load',function(){
         
            var corechild = document.getElementsByClassName("corechild");
			for(var j=0; j < corechild.length; j++){
				
				var navLi = corechild[j].getElementsByTagName("li");
				for(var k=0; k < navLi.length; k++){
					navLi[k].onclick = function tap(){
						var h2 =this.parentNode.parentNode.parentNode.getElementsByTagName("h2");
						var key = h2[0].innerText;
						var val = this.innerText;
						if(val != json.keyParam[key]){//!(key in json.keyParam)
							this.style.borderColor="#ff6600";
							this.style.color="#ff6600";
							var sbiling = this.parentNode.getElementsByTagName("li");
							for (var i=0; i<sbiling.length; i++){
								if(this != sbiling[i]){
									sbiling[i].style.borderColor="#f1f1f1";
									sbiling[i].style.color="#666";
								}
							}
							json.keyParam[key] = val;
							//console.log(json.keyParam);
						}else{
							var sbiling = this.parentNode.getElementsByTagName("li");
							for (var i=0; i<sbiling.length; i++){
								sbiling[i].style.borderColor="#f1f1f1";
								sbiling[i].style.color="#666";
							}
							delete json.keyParam[key];
						}
						//console.log(json.keyParam);
					} 
				}
			}

               /* navLi = keyp.getElementsByTagName("li");
                 
            for(var k=0; k < navLi.length; k++){
             
                (function(k){
                 
                    var hammerLi = new Hammer(navLi[k]);
                    hammerLi.on("tap", function(e){
                    	navLi[k].style.borderColor="#ff6600";
                    	navLi[k].style.color="#ff6600";
						var sbiling = navLi[k].parentNode.getElementsByTagName("li");
						console.log(sbiling);
						console.log(k);
						for (var i=0; i<sbiling.length; i++){
							if(i != k){
								sbiling[i].style.borderColor="#999";
								sbiling[i].style.color="#666";
							}
						}
                    });
                 
                })(k);
                     
            }*/
         
        });
window.addEventListener("pagehide", function(){
	//离开保存数据 json对像转成字符串
	var data = JSON.stringify(json);
	localStorage.setItem("creategood", data);
}, false);
		</script>
	</body>
</html>
