<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>型号</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
		<script src="./js/hammer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="model" id="modelli">
			<h2>Select the model</h2>
			<div class="modelli" >
				<ul>
					<li id="">50L</li>
					<li id="">40L</li>
					<li id="">30L</li>
					<li id="">50L</li>
					<li id="">40L</li>
					<li id="">30L</li>
					<li id="">50L</li>
					<li id="">40L</li>
					<li id="">30L</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		window.addEventListener('load',function(){
         
            var model = document.getElementById("modelli"),
                navLi = model.getElementsByTagName("li");
                 
            for(var k=0; k < navLi.length; k++){
             
                (function(k){
                 
                    var hammerLi = new Hammer(navLi[k]);
                    hammerLi.on("pan", function(e){
                    	navLi[k].style.borderColor="#ff6600";
                    	navLi[k].style.color="#ff6600";
                    });
                 
                })(k);
                     
            }
         
        });
	</script>
</html>
