<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>商务需求</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	</head>
	<body>
		<div class="need">
			<div class="need-quantity">
				<span class="eq-qu">Equipment Quantity</span>
				<span class="qu">Please choose</span>
				<span class="need_jt"><a href="equipmentNum.html">></a></span>
			</div>
			<div class="need-quantity">
				<span class="eq-qu">Years of use</span>
				<span class="qu years">5 years</span>
				<span class="need_jt"><a href="equipmentYear.html">></a></span>
			</div>
			<h2>Forecast price</h2>
			<div class="needs">
				<div class="price" id="price">
					<span class="price-up"> Unit price</span>
					<span class="price-us">US $</span>
					<input type="text"  id=""  />
					<span class="price-ux">----</span>
					<input type="text" />
				</div>
				<div class="valid">
					<span class="valids">Quotation is valid</span>
					<span class="valid-time">10 months</span>
					<span class="need_jt"><a href="equipmentValid.html">></a></span>
				</div>
			</div>
		</div>
	</body>
</html>