<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title><?php echo $lang['information'];?></title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
		<script src="/public/js/hammer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="purchname">
			<p><?php echo $data['title'];?></p>
		</div>
		<div class="purchnav">
			<p><?php echo $lang['devicedes'];?></p>
			<span><?php echo $data['descrition'];?></span>
		</div>
		<div class="purchcustomer">
			<p><?php echo $lang['customerinfo'];?></p>
			<ul>

				<li><span><?php echo $lang['orgsupplier'];?></span><span><?php echo $supplier['org_name'];?></span></li>
				<li><span><?php echo $lang['orgname'];?></span><span><?php echo $supplier['org_contact_person'];?></span></li>
				<li><span><?php echo $lang['orgtel'];?></span><span onclick="javascript:void(0)"><?php echo $supplier['org_contact_telno'];?></span></li>
				<!--<li><span>Contact photo</span><span><?php echo $supplier['org_contact_address'];?></span></li>-->
			</ul>
		</div>
		<div class="purchcustomers">
			
		<p><?php echo $lang['deviceinfo'];?></p>

			<?php foreach($goods as $good){?>
			<div class="purchInformation">
				
			<p><?php echo $good['name'];?></p>
				<ul>

					<li><span><?php echo $lang['category'];?> :</span><span><?php echo $good['category'];?></span></li>
					<li><span><?php echo $lang['types'];?> :</span><span><?php echo $good['types'];?></span></li>
				</ul>
				<a href="/Goods/H5Detail?id=<?php echo $good['id'];?>">
					<span class="purch_jt">
						<img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;">
					</span>
				</a>
			
			</div>
			<?php }?>
			
		</div>
	</body>
</html>
