<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>Particulars of sale出售信息详情</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	</head>
	<body>
		<div class="particulaess particulaes-name">
			<h2>The name of the category</h2>
			<p>Name of the category 1</p>
		</div>
		<div class="particulaess particulaes-title">
			<h2>To sell the title</h2>
			<p>My equipment title</p>
		</div>
		<div class="particulaess particulaes-brand">
			<h2>The selected brand</h2>
			<p>TESCO</p>
		</div>
		<div class="particulaess particulaes-model">
			<h2>The selected model</h2>
			<p>3500LX</p>
		</div>
		<div class="particulaess particulaes-key">
			<h2>Key parameter</h2>
			<ul>
				<li class="ownd-sj-csli"><span>Well depth:</span><span>5000m</span></li>
				<li class="ownd-sj-csli"><span>Hook load:</span><span>5000m</span></li>
				<li class="ownd-sj-csli"><span>Power:</span><span>5000w</span></li>
			</ul>
		</div>
		<div class="particulaess particulaes-business">
			<h2>Selected business information</h2>
			<ul>
				<li class="ownd-sj-csli"><span>Quantity:</span><span>Five</span></li>
				<li class="ownd-sj-csli"><span>Years of use:</span><span>2 years</span></li>
				<li class="ownd-sj-csli"><span>Transaction type</span><span>Rent Sell</span></li>
				<li class="ownd-sj-csli"><span>unit price:</span><span> US $ 2,000,000-5,000,000</span></li>
			</ul>
		</div>
		<div class="particulaess particulaes-describe">
				<h2>Remarks</h2>
				<textarea class="particulaes-describe-t" placeholder="Please enter a note message"></textarea>
		</div>
		<div class="particulaess particulaes-multimedia">
				<h2>Multimedia data</h2>
				<div class="uploading-img" id="uploading-img">
					<button class="clickc" id="clicks" value="" /><a href="" ></a></button>
				</div>
				<div class="uploading-foot">
				<span>Uploads up to 10 photos</span>
			</div>
		</div>
		<div class="particulaess particulaes-subordinate">
			<h2>Subordinate to the supplier</h2>
			<div class="particulaes-subordinate-s">
				<span>REGI</span>
				<span><a href="supplierdetails.html">></a></span>
			</div>
		</div>
	</body>
	<script type="text/javascript">
			var clicks=document.getElementById("clicks");
		         clicks.onclick=function(){
		         		var para = document.createElement("div");
		         		var span=document.createElement("span");
		         		var img =document.createElement("img");
					  	var testdiv = document.getElementById("uploading-img");
					  		span.className="spans";
							para.appendChild(span);
							para.appendChild(img);
					  	if(testdiv.firstChild){
							testdiv.insertBefore(para,testdiv.firstChild);
							} else {

								testdiv.appendChild(para);
							}
							var spans = para.getElementsByClassName("spans");
												for(var i=0;i<spans.length;i++){
													spans[i].onclick = function(){
														testdiv.removeChild(this.parentNode);
													}
												}


		         }
		</script>
</html>
