<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>Select suppliers 选择供应商</title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
	</head>
	<body>
		<div class="selectsuppliers">
			<h2>Have created a customer :</h2>
			<div class="selectsuppliers-customer">
				<ul>
						<li class=""><span>The customer name:</span><span>XXX</span></li>
						<li class=""><span>Contact name:</span><span>XXX</span></li>
						<li class=""><span>The contact phone:</span><span>18610476463</span></li>
				</ul>
				<ul>
						<li class=""><span>Supplier name:</span><span>XXX</span></li>
						<li class=""><span>Contact name:</span><span>XXX</span></li>
						<li class=""><span>The contact phone:</span><span>18610476463</span></li>
						<p>X</p>
				</ul>
				<ul>
						<li class=""><span>Supplier name:</span><span>XXX</span></li>
						<li class=""><span>Contact name:</span><span>XXX</span></li>
						<li class=""><span>The contact phone:</span><span>18610476463</span></li>
						<p>X</p>
				</ul>
			</div>
		</div>
	</body>
</html>
