<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>Supplier address 供应商地址</title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
	</head>
	<body>
		<input type="text" id="location" class="suppliername supplieraddress" placeholder="Please enter the supplier address" maxlength=60 />
<script>
	var json = localStorage.getItem("organization");
	json = JSON.parse(json);
	if(json.location != ""){
		document.getElementById("location").value = json.location;
	}
//回显数据
window.addEventListener("pagehide", function(){
	//return "123";
	//离开保存数据 json对像转成字符串
	json.location = document.getElementById("location").value;
	var data = JSON.stringify(json);
	localStorage.setItem("organization", data);
}, false);
</script>
	</body>
</html>