<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>Supplier details供应商详情</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	</head>
	<body>
		<div class="supplierdetails">
			<ul>
				<li class="ownd-sj-csli"><span>Supplier name:</span><span>REGI</span></li>
				<li class="ownd-sj-csli"><span>Contact name:</span><span>Xiao rui</span></li>
				<li class="ownd-sj-csli"><span>The contact phone:</span><span>18610476462</span></li>
			</ul>
		</div>
	</body>
</html>
