<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title><?php echo $lang['supplier'.$type];?></title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
	</head>
	<body>
		<div class="supplier">
			<div class="supplier-name">
				<span class="suppliers supplier-name-n"><?php echo $lang['orgsupplier'];?></span>
				<span class="supplierx supplier-name-m" id="customerName"></span>
				<a href="/Goods/Supname"><span class="supplier-jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<!--<div class="supplier-name supplier-address">
				<span class="suppliers supplier-address-a">Area</span>
				<span class="supplierx supplier-address-d" id="area"></span>
				<a href="javascript:void(0)" onclick="demand.onSelectArea()"><span class="supplier-jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<div class="supplier-name supplier-address">
				<span class="suppliers supplier-address-a">Address</span>
				<span class="supplierx supplier-address-d"  id="location"></span>
				<a href="/Goods/Supaddress"><span class="supplier-jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>-->
			<div class="supplier-name supplier-contactn">
				<span class="suppliers supplier-contactn-n"><?php echo $lang['orgname'];?></span>
				<span class="supplierx supplier-contactn-m" id="contactName"></span>
				<a href="/Goods/Supcontact"><span class="supplier-jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<div class="supplier-name supplier-contactb">
				<span class="suppliers supplier-contactb-n"><?php echo $lang['orgtel'];?></span>
				<span class="supplierx supplier-contactb-m" id="contactPhone"></span>
				<a href="/Goods/Supphone"><span class="supplier-jt"><img src="/public/images/boultr.png" style="height: 1rem;width: 0.56rem;"></span></a>
			</div>
			<!--<div class=" supplier-name supplier-app">
				<span class="suppliers supplier-app-n">App account</span>
				<span class="supplierx supplier-app-m">113445568@fgie.com</span>
				<span class="supplier-jt"><a href="/Goods/Supemail">></a></span>
			</div>-->
			<!--<a onclick="submit()" id="dddddd">点周</a>-->
		</div>
<script>
	//localStorage.clear();
	var json = localStorage.getItem("organization");
	
	if(json == null){
		
		//var json = '{"customerType": "<?php echo $type;?>","area":"","location": "","customerName": "","contactName": "","contactPhone": ""}';
		var json = '{"customerType": "<?php echo $type;?>","customerName": "","contactName": "","contactPhone": ""}';
	}
	json = JSON.parse(json);
	if(json.customerName != ""){
		document.getElementById("customerName").innerText = json.customerName;
	}
	/*if(json.area != ""){
		document.getElementById("area").innerText = json.area;
	}
	if(json.location != ""){
		document.getElementById("location").innerText = json.location;
	}*/
	if(json.contactName != ""){
		document.getElementById("contactName").innerText = json.contactName;
	}
	if(json.contactPhone != ""){
		document.getElementById("contactPhone").innerText = json.contactPhone;
	}
	localStorage.setItem("orgsubmit", 0);//标记是否提交
function setArea(area){
	document.getElementById("area").innerText = area;
}
function submit(){
	var json = localStorage.getItem("organization");
	if(json == null){
		alert("<?php echo $lang['ndata'];?>");
		return;
	}else{
		var json = JSON.parse(json);
		
		//json.location = json.area+","+json.location;
		/*if(json.customerName == "" || json.location == "" || json.contactName == "" || json.contactPhone == ""){
			alert();
			return false;
		}*/
		if(json.customerName == ""){
			alert("<?php echo $lang['nCustomerName'];?>");
			return false;
		}
		/*if(json.location == ""){
			alert("Location cannot be empty");
			return false;
		}*/
		if(json.contactName == ""){
			alert("<?php echo $lang['nContactName'];?>");
			return false;
		}
		if(json.contactPhone == ""){
			alert("<?php echo $lang['nContactPhone'];?>");
			return false;
		}
		//delete json["area"];
		var newjson = JSON.stringify(json);
		localStorage.setItem("orgsubmit", 1);//标记已提交了
		localStorage.removeItem('organization');//清空本地数据
		demand.onSubmitCustomer(newjson);
	}
}
//回显数据
window.addEventListener("pagehide", function(){
	if(localStorage.getItem("orgsubmit") != 1){
		//json.area = document.getElementById("area").innerText;
		
		//离开保存数据 json对像转成字符串
		var data = JSON.stringify(json);
		localStorage.setItem("organization", data);
	}
}, false);
</script>
	</body>
</html>
