<?php if($_SESSION['language'] == "zh"){
	include("zh.php");
}else{
	include("en.php");
}
?>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title><?php echo $lang['types'];?></title>
		<link rel="stylesheet" type="text/css" href="/public/css/good_index.css"/>
		<script src="/public/js/hammer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="model" id="modelli">
			<h2><?php echo $lang['stypes'];?></h2>
			<div class="modelli" >
				<ul>
					<?php if(!empty($data)){?>
					<?php foreach($data as $da){?>
						<li id="<?php echo $da['types_id'];?>"><?php echo $da['types_name'];?></li>
					<?php }?>
					<?php }?>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript">
	var json = localStorage.getItem("creategood");
	var json = JSON.parse(json);
	console.log(json);
	//回显数据
	if(json.typesId != ""){
		var datali = document.getElementById(json.typesId);
		datali.style.borderColor="#FF6600";
        datali.style.color="#ff6600";
	}

		window.addEventListener('load',function(){
         
            var brand = document.getElementById("modelli"),
                navLi = brand.getElementsByTagName("li");
                 
            for(var k=0; k < navLi.length; k++){
             
                (function(k){
                 
                    var hammerLi = new Hammer(navLi[k]);
                    hammerLi.on("tap", function(e){
                    	navLi[k].style.borderColor="#FF6600";
                    	navLi[k].style.color="#ff6600";
						var typesid = navLi[k].getAttribute("id");
						var types = navLi[k].innerText;
						var sbiling = navLi[k].parentNode.getElementsByTagName("li");
						if(typesid != json.typesId){
							json.typesId = typesid;
							json.types = types;
							for (var i=0; i<sbiling.length; i++){
								if(i != k){
									sbiling[i].style.borderColor="#999";
									sbiling[i].style.color="#666";
								}
							}
						}else{
							json.typesId = "";
							json.types = "";
							for (var i=0; i<sbiling.length; i++){
								sbiling[i].style.borderColor="#999";
								sbiling[i].style.color="#666";
							}
						}
						console.log(json);
                    });
                })(k);
                  
            }
         
        });
window.addEventListener("pagehide", function(){
	//离开保存数据 json对像转成字符串
	var data = JSON.stringify(json);
	localStorage.setItem("creategood", data);
}, false);
	</script>
</html>
